# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

GITHUB_TOKEN=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
PORT=5000
#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